<h1 class="index-title">ようこそ <strong>Bookers</strong>  へ！</h1>

<p class="index-body"><strong>Bookers </strong>では、さまざまな書籍に関するあなたの意見や</p>

<p class="index-body">印象を共有し交換することができます</p>

<p class="index-body"><%= link_to "start", new_book_path(@book) %></p>