/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #444;
	font-family: verdana, arial, helvetica, sans-serif;
 }

.index-title {
	margin: 23px 33px 0;
	font-size: 26px;
}

.index-body {
	font-size: 13px;
	line-height: 18px;
	margin: 33px 65px;
}



.new {
	padding: 33px;
}
.new-title {
	font-size: 26px;
}

table {
	padding: 10px 3px;
	font-size: 13px;
}

th {
	text-align: center;
	padding: 0 5px 7px;
}

td {
	padding: 0 5px 7px;
}

.new-newbook {

}

.new-titlebody {
	font-size: 13px;
	padding-top: 10px;
}

.new-f.text {
	margin-bottom: 7px;
}

.new-createbook {
	padding: 10px 0;
}